body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins ao corpo todo */
    cursor: url('recursos/cursor%20branco.svg'), default; /* Utiliza o cursor SVG com fallback para o cursor padrão */
}

#barra_de_ferramentas {
    position: absolute;
    z-index: 2;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200vh;
    height: 5vh;
    background: rgba(0, 153, 255, 0.151);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#area_de_trabalho {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}

#botao_iniciar_da_barra_de_ferramentas span,
#aplicativos_da_barra_de_ferramentas span,
#notificacoes_da_barra_de_ferramentas span {
    color: rgba(255, 255, 255, 0.37);
    padding: 5px;
}

#botao_iniciar_da_barra_de_ferramentas span:hover,
#aplicativos_da_barra_de_ferramentas span:hover,
#notificacoes_da_barra_de_ferramentas span:hover {
    color: rgba(255, 255, 255, 1);
}

/* Estilos para todas as janelas modais */
.modal {
    display: none; /* Oculta as janelas por padrão */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 400px;
    background: rgba(0, 153, 255, 0.151);
    backdrop-filter: blur(10px);
    border-radius: 21px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: 5px solid rgba(255, 255, 255, 0.2);
    z-index: 1000;
    overflow: hidden;
    color: #ffffff; /* Texto branco para toda a modal */
}

/* Estilos para o cabeçalho da janela modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0, 153, 255, 0.60); /* Azul com transparência */
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0; /* Adiciona bordas arredondadas no topo */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: move; /* Cursor para arrastar */
    color: #ffffff; /* Texto branco para o cabeçalho */
    cursor: url('recursos/cruz%20branca.svg') 16 16, move;
}

/* Estilos para o título da janela modal */
.modal-title {
    font-weight: bold;
    color: #ffffff; /* Texto branco para o título */
}

/* Estilos para o botão de fechar da janela modal */
.modal-close {
    font-size: 24px;
    cursor: pointer;
    color: #ffffff; /* Texto branco para o botão de fechar */
    cursor: url('recursos/pointer%20branco.svg') 16 16, pointer; /* Utilize o SVG com fallback para o cursor padrão de pointer */

}

/* Estilos para o conteúdo da janela modal */
.modal-body {
    padding: 20px;
    overflow: auto; /* Permite rolar o conteúdo interno */
    color: #ffffff; /* Texto branco para o conteúdo */
    height: 325px;
}

.modulo-manga-all-manga{
    height: 19vh;
    width: 60vh;
    align-content: space-between;
    margin: 1vh;
    border: 0.5vh solid #ffffffc9;
    border-radius: 2vh;
    padding: 1.5vh;
}

.modulo-manga-all-manga:hover{
    background-color: #ffffff31;
}

.imagem-modulo-manga-all-manga img{
    height: 18vh;
    float: left;
    margin-right: 2vh ;
    border-radius: 1.5vh;
    padding-top: 1.4vh;
}

.texto-modulo-manga-all-manga {
    padding-left: 0; 
    overflow: hidden;
    position: relative;
    padding-top: 1vh; 
}

.texto-modulo-manga-all-manga p,
.texto-modulo-manga-all-manga h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número máximo de linhas visíveis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permite quebras de linha */
    word-break: break-word; /* Quebra palavras longas */
    font-size: 1.3vh;
    text-align: justify;
    margin-top: 0;
}

/* Ajuste a altura conforme necessário para o título e o parágrafo */
.texto-modulo-manga-all-manga p {
    height: auto; /* Ajuste a altura do parágrafo com base no conteúdo */
    padding-top: 0;
    margin-top: 0;
}

.texto-modulo-manga-all-manga h3 {
    height: auto; /* Ajuste a altura do título com base no conteúdo */
    font-size: 3vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal-border-top, .modal-border-right, .modal-border-bottom, .modal-border-left {
    position: absolute;
    background: transparent;
    z-index: 10; /* Ajuste conforme necessário */
}

.modal-border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.modal-border-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.modal-border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.modal-border-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}


